:root {
  --background-color: #fff;
  --text-color: #000;
  --primary-color: #1890ff;
  --secondary-color: #6c757d;
  --form-background-color: #fff;
  --form-border-color: #d9d9d9;
  --input-background-color: #fff;
  --input-text-color: #000;
  --button-background-color: #1890ff;
  --button-text-color: #fff;
  --header-background-color: #f5f5f5;
  --header-text-color: #000;
  --select-option-text-color: #000;
  --form-text-color: #000;
  --form-label-color: #000;
  --form-placeholder-color: #bfbfbf;
  --form-input-text-color: #000;
}

body.dark-mode {
  --background-color: #1f1f1f; /* Fondo oscuro */
  --text-color: #fff; /* Texto blanco */
  --primary-color: #1890ff; /* Sin cambios */
  --secondary-color: #6c757d; /* Sin cambios */
  --form-background-color: #2b2b2b; /* Fondo del formulario oscuro */
  --form-border-color: #404040; /* Borde del formulario oscuro */
  --input-background-color: #404040; /* Fondo de los inputs oscuro */
  --input-text-color: #404040; /* Texto de los inputs blanco */
  --button-background-color: #1890ff; /* Sin cambios */
  --button-text-color: #fff; /* Sin cambios */
  --header-background-color: #2b2b2b; /* Fondo del encabezado oscuro */
  --header-text-color: #fff; /* Texto del encabezado blanco */
  --select-option-text-color: #fff; /* Texto blanco para las opciones del Select */
  --form-text-color: #fff; /* Color de texto del formulario en modo oscuro */
  --form-label-color: #ccc; /* Color de las etiquetas del formulario en modo oscuro */
  --form-placeholder-color: hwb(0 60% 40%); /* Color de los placeholders del formulario en modo oscuro */
  --form-input-text-color: #fff;
}

body.dark-mode .form-container {
  background-color: var(--form-background-color);
  border-color: var(--form-border-color);
}

body.dark-mode .form-title {
  color: var(--primary-color);
  background-color: var(--form-background-color);
}

body.dark-mode .form-item label {
  color: var(--form-label-color);
}

body.dark-mode .form-item .ant-input,
body.dark-mode .form-item .ant-select-selector {
  background-color: var(--input-background-color);
  color: var(--form-input-text-color);
  border-color: var(--form-border-color);
}

body.dark-mode .form-item .ant-input::placeholder,
body.dark-mode .form-item .ant-select-selection-placeholder {
  color: var(--form-placeholder-color);
}

body.dark-mode .form-button {
  background-color: var(--button-background-color);
  border-color: var(--button-background-color);
  color: var(--button-text-color);
}

body.dark-mode .form-button:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

body.dark-mode .form-button:disabled {
  background-color: #595959;
  border-color: #595959;
  color: rgba(255, 255, 255, 0.5);
}
.ant-select-item-option-content {
  color: var(--select-option-text-color);
}


.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--form-background-color);
  border: 2px solid var(--form-border-color);
  border-radius: 16px;
  color: var(--text-color);
}

.form-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
  color: var(--primary-color);
}

body.light-mode .form-title {
  color: var(--form-text-color);
}

.form-item {
  margin-bottom: 16px;
}

.form-item label {
  font-weight: bold;
  color: var(--text-color);
}

.form-item .ant-input,
.form-item .ant-select-selector {
  border-radius: 4px;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border-color: var(--form-border-color);
}

.form-item .ant-input::placeholder,
.form-item .ant-select-selection-placeholder {
  color: #bfbfbf;
  opacity: 0.8;
}

.form-item .ant-input:focus,
.form-item .ant-select-focused .ant-select-selector {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.form-item .ant-select-arrow {
  color: var(--primary-color);
}


.select-container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.select-container .ant-select {
  width: 15%;
  margin: 0 16px;
}

.select-container .ant-select-selector {
  border-radius: 4px;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border-color: var(--form-border-color);
  height: 40px;
  display: flex;
  align-items: center;
}

.select-container .ant-select-selection-placeholder {
  color: #bfbfbf;
  opacity: 0.8;
}

.select-container .ant-select-arrow {
  color: var(--primary-color);
}

.select-container .ant-select-focused .ant-select-selector {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

body.light-mode .ant-select-selection-item-remove {
  color: var(--form-text-color);
}

body.light-mode .ant-select-selection-item-remove:hover {
  color: var(--primary-color);
}

.form-container {
  background-color: #f5f5f5;  /* Fondo gris */
  padding: 20px;              /* Espaciado interior para evitar que se tope con los bordes */
  width: 100%;                /* Ancho del formulario */
  max-width: 500px;           /* Máximo ancho del formulario */
  margin: 20px auto;          /* Centrar el formulario y añadir espacio arriba y abajo */
  border-radius: 8px;         /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra ligera para dar profundidad */
}

.ant-form-item-label > label {
  color: #333; /* Mejorar el contraste de las etiquetas con el fondo */
}

.form-button {
  margin-left: 39%;
  width: 20%;
  height: 40px;
  border-radius: 4px;
  background-color: var(--button-background-color);
  border-color: var(--button-background-color);
  color: var(--button-text-color);
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.form-button:disabled {
  background-color: #595959;
  border-color: #595959;
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}
.form-button.preview-button:disabled{
  background-color: #595959 !important;
  border-color: #595959 !important;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: not-allowed !important;
}

.form-button.preview-button {
  background-color: white !important;
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.form-button.preview-button:hover{
  background-color: #f0f5ff ;
  color: var(--primary-color) ;
  border-color: var(--primary-color);
}


@media screen and (max-width: 768px) {
  .form-container {
    max-width: 600px;
    padding: 30px;
  }

  .form-title {
    font-size: 20px;
  }

  .select-container .ant-select {
    width: 25%;
  }


  .form-button {

    width: 100%;
    min-width: unset;
  }
  
  .form-button.form-button.preview-button {
    width: 100%;
    min-width: unset;
  }
}



@media screen and (max-width: 480px) {
  .form-container {
    max-width: 100%;
    padding: 20px;
  }

  .form-title {
    font-size: 18px;
  }

  .select-container .ant-select {
    width: 100%;
    margin: 8px 0;
  }

  .form-button {
    font-size: 14px;
    height: 36px;
  }
  .form-button.form-button.preview-button {
    font-size: 14px;
    height: 36px;
  }
}