body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.ant-form-item-label > label {
  color: var(--text-color);
}

.ant-message {
  margin-top: 24px;
}

.ant-layout-content {
  padding: 24px;
}

.ant-select-item-option-content {
  color: var(--input-text-color); /* Usar el color de texto de los inputs */
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--primary-color); /* Sin cambios */
  color: var(--button-text-color); /* Usar el color de texto de los botones */
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(
    --form-background-color
  ); /* Usar el color de fondo del formulario */
}
.ant-select-item-option-content {
  color: var(--input-text-color);
}

.header-container,
.app-header,
.description {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
}

.form-button {
  min-width: 100px; /* Ajusta este valor según tus necesidades */
}
.ant-space-item {
  margin-right: 200px;
}
.ant-space-item {
  margin-right: 200px; /* Ajusta este valor según tus necesidades */
}
