.login-container {
  max-width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container button {
  margin-left: 100px;
}

/* Estilos para el modo oscuro */
body.dark-mode .login-container {
  border: 1px solid #fff;
  background-color: #1f1f1f;
  color: #fff;
}

body.dark-mode .login-container h2 {
  color: #fff;
}

body.dark-mode .login-container button {
  background-color: #1890ff;
  color: #fff;
}

/* Media queries para diseño responsive */
@media screen and (max-width: 768px) {
  .login-container {
    max-width: 250px;
    margin-top: 80px;
    padding: 15px;
  }

  .login-container button {
    margin-left: 75px;
  }
}

@media screen and (max-width: 480px) {
  .login-container {
    max-width: 200px;
    margin-top: 60px;
    padding: 10px;
  }

  .login-container h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .login-container button {
    margin-left: 50px;
  }
}