.general {
  background-color: var(--background-color);
  padding: 50px; /* Agrega un padding de 20px al layout general */
}


.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--background-color);
}

.header-logo {
  width: 100px;
  height: auto;
  margin-right: 10px;
  border: 1px;
  border-radius: 5px;
  margin-left: 3px;
  margin-top: 3px;
}

.app-header {
  font-size: 24px;
  background-color: var(--background-color);
  color: var(--header-text-color);
}

.description {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  background-color: var(--background-color);
  color: var(--header-text-color);
}

.switch-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  margin-right: 20px; /* Agrega un margen derecho de 20px al switch */
}

